@model ToDoListModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add task</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="DateOfTask"></label>
            <input asp-for="DateOfTask" class="form-control" />
            <span asp-validation-for="DateOfTask" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="NameTask"></label>
            <input asp-for="NameTask" class="form-control" />
            <span asp-validation-for="NameTask" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
